.contact {
    // background-color: $lightGrayishBlue;

    &__header {

        // margin-bottom: 100px;
        // border: 1px solid red;
        margin-right: 900px;

    }

    &__wrapper {
        position: relative;
        min-height: 30rem;
    }

    &__quote {
        // border: 1px solid orange;
        position: absolute;
        // bottom: 80px;
        // left: 68px;
        width: 380px;
        margin: 65px 0px 0px 130px;

        p {
            font-family: 'Scorno_i', sans-serif;
            color: $white;
            font-size: $font-med-title;
            line-height: 1.3;
        }

    }


    &__image {
        // border: 1px solid red;
        position: absolute;
        background-image: url(/images/product/product_photography_by_sylvester_harding-31-inv.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 30rem;
        width: 100%;


        @media (max-width: 576px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }


    }


    &__items {
        input {
            border-bottom: 1px solid black;
        }

    }

    &__text {
        h1 {
            font-size: $font-lg;
        }

        p {
            text-align: left;
            font-size: $font-main;
        }
    }
}

textarea {
    border-bottom: 1px solid $black;
    color: $black;
}

textarea::placeholder {
    color: $black;
}