.extra {
    // background-color: $lightGrayishBlue;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__text {
        display: flex;
        flex-direction: row;
        font-size: $font-lg;
        gap: 20px;

        
    }

    a {
        transition: 0.36s ease-in-out;
    }
    

    a:hover {
        transform: scale(1.06);
    }

    img {
        transition: 0.36s ease-in-out;
    }
    

    img:hover {
        transform: scale(1.66);
    }
}