.footer {
    background-color: $bgColor;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 19.625rem;
        width: 100%;
        padding: 0 3.75rem;

        @include breakpoint-down(medium) {
            padding: 3.75rem 4.75rem;
            height: 29.625rem;
        }


    }

    &__items {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        justify-content:flex-start;

        &__design {
            p {
                color: $white;
            }
            
        }
        

        p {
            font-size: $font-sm;
            color: $white;
            // margin: 0 50px;
            // background-color: #aaa;

        }

        &__design {

            p {
                margin-top: 5px;
            }

            @include breakpoint-down(medium) {
                p {
                    font-size: $font-sm;
                }
            }
        }

        @include breakpoint-down(medium) {
            flex-direction: column;

            p {
                margin: 0;
            }
        }
    }

    &__column-1 {
        display: flex;
        justify-content: start;
        flex: 50%;

        p {
            
            display: flex;

        }

        @include breakpoint-down(medium) {
            margin-bottom: 3rem;
            p {
                line-height: 2.2;
                font-weight: 400;
            }
        }

    }

    &__column-2 {
        display: flex;
        flex-direction: row;
        // align-items: center;
        justify-content: end;
        flex: 50%;

        p {
            display: flex;
            text-align: right;
        }

        @include breakpoint-down(medium) {
            flex-direction: column;
            justify-content: center;
            margin-bottom: 3rem;
            p {
                line-height: 2.2;
                font-weight: 400;
                text-align: center;
                padding: 0 0.6rem;
            }
        }
    }

    &__icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: self-start;
    }

    &__icon {

        margin-right: 10px;

        img {
            width: 20px;
        }
    }
}