.gallery {

    // background-color: teal;
    background-color: $white;


    // Use resourse to regrasp the grid 
    // concepts - https://www.freecodecamp.org/news/how-to-create-an-image-gallery-with-css-grid-e0f0fd666a5c/

    &__column {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(21, 5vw);

        @include breakpoint-down(medium) {
            display: flex;
            flex-direction: column;
        }
    }

    &__item {
        overflow: hidden;
        // cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            vertical-align: middle;
            object-fit: cover;
            transition: 0.26s ease-in-out;
        }

        img:hover {
            transform: scale(1.03);
        }
    }

    &__item--1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 9;
    }

    &__item--2 {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 7;
    }

    &__item--3 {
        grid-column-start: 7;
        grid-column-end: 10;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    &__item--4 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 9;
        grid-row-end: 12;
    }

    &__item--5 {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 7;
        grid-row-end: 15;
    }

    &__item--6 {
        grid-column-start: 7;
        grid-column-end: 10;
        grid-row-start: 4;
        grid-row-end: 8;
    }

    &__item--7 {
        grid-column-start: 7;
        grid-column-end: 10;
        grid-row-start: 8;
        grid-row-end: 11;
    }

    &__item--8 {
        grid-column-start: 7;
        grid-column-end: 10;
        grid-row-start: 8;
        grid-row-end: 17;
    }

    &__item--9 {
        grid-column-start: 7;
        grid-column-end: 10;
        grid-row-start: 17;
        grid-row-end: 22;
    }

    &__item--10 {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 15;
        grid-row-end: 22;
    }

    &__item--11 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 12;
        grid-row-end: 22;
    }

}