.header {
    // all styles pertainer to header are based here


    &__nav {

        @media (max-width: 576px) {
            display: flex;
            justify-content: center;
            align-items: center;
            // padding: 10px 0 0 20px;
            margin-bottom: 0.2rem;
            height: 60px;
        }
    }



    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4.5rem 0 2.5rem 0;

        img {
            width: 250px;

            @media (max-width: 576px) {
                width: 150px;
                height: auto;
            }
        }
    }

    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        @media (max-width: 576px) {
            display: none;
        }
    }

    &__item {
        font-size: $font-sm;
        font-weight: 100;

        &:not(:last-child) {
            margin-right: 60px;
        }

        a {
            color: $secTextColor;
            transition:all 0.3s ease-in-out;
        }

        a:hover {
            text-decoration: underline;
            color: black;
        }
    }

    &__packages {
        float: left;
        overflow: hidden;
    }

    &__packages:hover &__dropdown__contents {
        display: block;
    }

    &__dropbtn {
        border: none;
        outline: none;
        color: $secTextColor;
        transition: 0.6s ease-in-out;
        background-color: inherit;
        margin: 0;
        cursor: pointer;

        img {
            margin-left: 8px;
            width: 10px;
        }
    }

    &__dropbtn:hover {
        text-decoration: underline;
    }

    &__dropdown__contents {
        display: none;
        position: absolute;
        background-color: $white;
        min-width: 160px;
        // box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;

        a {
            line-height: 0.5;
            float: none;
            color: $secTextColor;
            padding: 16px 4px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        a:hover {
            // text-decoration: none;
            color: black;
        }


    }

}