.strip {
    background-color: teal;

    &__img {
        flex: 40%;
        position: relative;
        // I need teh image below to scroll
        background-image: url(/images/product/product_photography_by_sylvester_harding-28.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 20rem;
        width: 100%;
    }
}

.home__strip {
    background-color: $black;

    &__container {
        position: relative;
    }

    &__img {
        background-image: url(/images/portrait/portrait_photography_by_sylvester_harding-19.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 80vh;
        width: 100%;
        opacity: .6;
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: transparent;
        text-align: center;

        

        &__title {

            // width: 600px;
            @include breakpoint-down(medium) {
                margin-bottom: 10px;
            }

            h1 {
                font-family: Georgia, 'Times New Roman', Times, serif;
                color: $white;
                font-weight: 100;
                font-size: $font-xlg;
                line-height: 60px;
                background: transparent;

            }
        }

        &__sub {
            width: 369px;

            p {
                font-family: 'Scorno_i';
                font-size: $font-text-space;
                line-height: 20px;
                color: $white;
            }
        }

        @include breakpoint-down(medium) {
            margin-bottom: 0;
            
            h1 {
                font-size: $font-med-title;
                margin: 0 200px;
                line-height: 35px;
            }

            p {
                font-size: $font-main;
                line-height: 20px;
            }

        }

    }
}

.booking__strip {
    background-color: $black;



    &__container {
        position: relative;


        p,
        h1,
        h2 {
            color: $black;
        }
    }

    &__img {
        background-image: url(/images/personal/now_booking_by_sylvester_harding-02.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 100vh;
        width: 100%;
        opacity: .6;
    }

    &__text {
        height: 80vh;
        width: 800px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: transparent;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8);

        @include breakpoint-down(medium) {
            height: auto;
            width: 100%;    
        }


        &__title {
            padding-top: 3.75rem;

            h1 {
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-weight: 100;
                font-size: $font-xlg;
                line-height: 60px;
                background: transparent;

            }

            p {
                font-size: $font-xlg;
                font-family: 'Darlston';
            }

            @include breakpoint-down(medium) {
                p, h1 {
                    font-size: $font-xt;
                }

                h2 {
                    font-size: $font-lg;
                }
            }

            
        }

        &__sub {
            padding: 0 90px;

            @include breakpoint-down(medium) {
                padding: 0 40px;
                p {
                    font-size: $font-sm;
                }
            }
            

            // p {
            //     // line-height: 20px;
            // }
        }

    }
}


// detail page
.detail__strip {
    background-color: $black;

    &__img {
        background-image: url(/images/personal/now_booking_by_sylvester_harding-01.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 100vh;
        width: 100%;
        opacity: .6;
    }
}

.astrip__img {
    background-image: url(/images/portrait/portrait_photography_by_sylvester_harding-60.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -1190px;
}