.testimonial {
    background-color: $white;


    &__item {
        // border: 1px solid red;

        p {
            font-size: $font-med;
            font-weight: 400;
            text-align: center;
            padding: 0 200px;
        }

        h5 {
            font-size: $font-sm;
            text-align: center;
        }
    }
}