// Color

// Primary Colors

$mainColor: #367f9b;
$mainColorDarker: #2f708a;
$secColor: #f7f4ee;
$white: #ffffff;
$black: #1a1b1d;
$blackSec: #47484b;


// Neutral colors

$secTextColor: #6f7073;
$grayishBlue: #9698a6;
$bgColor: #202124;
$lightGrayishBlue: #f3f4f6;
$veryLightGray: #fafafa;

// fonts
// Note 100% of font size is 16px = 1rem

$font-xx: 4.65rem;
$font-xlg: 3.65rem;
$font-xt: 2.65rem;
$font-med-title: 2rem;
$font-title: 1.875rem;
$font-med: 1.65rem;
$font-text-space: 1.5rem;
$font-lg: 1.25rem;
$font-main: 1rem;
$font-sm-frame: 0.9rem;
$font-sm: 0.84rem;